debug_mode: false
telegram:
  bots:
    default:
      token: ''
currency_rates:
  available_currency_pairs: [EUR/USD, USD/BYN, EUR/BYN]
  enabled_banks: [bnb]
  urls:
    bnb:
      in_bank: ''
      by_card: ''
      online: ''
